{% load staticfiles %}
<html>
  <head>
    <title> TreasureGram </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top text-center">
      <a href="/">
        <img src="{% static 'images/banner2.png' %}" alt="TreasureGram">
      </a>
      {% if user.is_authenticated %}
        <a class="navbar-text navbar-right"
            href="{% url 'profile' user.username %}">{{user.username}} </a>
        <a class="navbar-text navbar-right"
            href="{% url 'logout' %}"> logout</a>
      {% else %}
        <a class="navbar-text navbar-right"
            href="{% url 'login' %}"> login </a>
      {% endif %}
    </nav>
    <main class="container" role="main">
      {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
      {% else %}
        {% block content_login %}
        {% endblock %}
      {% endif %}
    </main>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
