{% extends 'base.html' %}
{% block content %}
  <div class="col-md-6 col-md-offset-3">
    <a href="/{{treasure.id}}/">
      <div class="treasure panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title"> {{ treasure.name }} </h2>
        </div>
        <div class="panel-body">
          <div class="col-xs-4 treasure-photo">
            <img src="{{ treasure.image.url }}">
          </div>
          <div class="col-xs-7 col-xs-offset-1">
            <div class="col-xs-12">
              {% if treasure.value > 0 %}
                {{ treasure.value }}
              {% else %}
                {{ Unknown }}
              {% endif %}
            </div>
            <div class="col-xs-12">
              {{ treasure.material }}
            </div>
            <div class="col-xs-12">
              {{ treasure.location }}
            </div>
            <div class="col-xs-12">
              <button id="likes" data-in="{{treasure.id}}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                {% if treasure.likes > 0 %} {{treasure.likes}} {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endblock %}
