{% extends 'base.html' %}
{% block content %}
  <div class="row">
    {% for treasure in treasures %}
      <div class="col-md-4">
        <a href="/{{treasure.id}}/">
          <div class="treasure panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"> {{ treasure.name }} </h2>
              <a class="panel-username" href="/user/{{treasure.user.username}}/"> by: {{treasure.user.username}} </a>
            </div>
            <div class="panel-body">
              <div class="col-xs-4 treasure-photo">
                <img src="{{ treasure.image.url }}">
              </div>
              <div class="col-xs-7 col-xs-offset-1">
                <div class="col-xs-12">
                  {% if treasure.value > 0 %}
                    {{ treasure.value }}
                  {% else %}
                    {{ Unknown }}
                  {% endif %}
                </div>
                <div class="col-xs-12">
                  {{ treasure.material }}
                </div>
                <div class="col-xs-12">
                  {{ treasure.location }}
                </div>
                <div class="col-xs-12">
                <button id="likes" data-in="{{treasure.id}}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                  {% if treasure.likes > 0 %} {{treasure.likes}} {% endif %}
                </button>
              </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% if forloop.counter|divisibleby:3 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
<div class="treasure panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title"> Add a Treasure </h2>
  </div>
  <div class="panel-body">
    <form enctype="multipart/form-data" action="post_url/" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Submit" class="btn btn-info"/>
    </form>
  </div>
</div>
{% endblock %}
