{% extends 'base.html' %}
{% block content_login %}
  <h1> Login </h1>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
